[Unit]
Description=VLC Kiosk pour pi-slideshow
After=graphical.target

[Service]
User=pi
Group=pi
Environment=DISPLAY=:0
Environment=VIDEO_PATH=/home/pi/video_pi3_photos.mp4
ExecStart=/usr/local/bin/vlc-kiosk.sh
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
